@media (max-width: 991px) {
    .catalog {
        &__content {
            justify-content: space-around; 
        }
    }
}

@media (max-width:767px) {
    .title {
        font-size: 25px;
        &__descr {
            font-size: 18px;
        }
    }

    .promo {
        padding-bottom: 50px;
    }

    .consultation {
        padding: 50px 10px 50px 10px;
    }

    .carousel {
        padding: 50px 0;
        &__inner {
            width: 450px;
            img {
                width: 100%;
            }
        }
    }

    .footer {
        &__info {
            padding: 30px;
            width: 390px;
            height: 170px;
        }
        &__addr {
            font-size: 16px;
            margin-bottom: 15px;
        }
        &__phone {
            margin-bottom: 15px;
        }
    }

    .pageup {
        bottom: 30px;
        right: 30px;
    }
    
}

@media (max-width: 575px) {
    .pageup {
        bottom: 30px;
        right: 30px;
    }
    
    .title {
        font-size: 20px;
        &_left {
            font-size: 15px;
            line-height: 30px;
            text-align: center;
        }
    }

    .header {
        &__logo {
            width: 170px;
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 16px;
        }
        
    }

    .promo {
        min-height: 500px;
        padding-bottom: 20px;
        &__wrapper {
            margin-top: 50px;
        }
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 15px;
            margin-top: 10px;
        }
        &__icons {
            width: 320px;
            margin-top: 25px;
        }
        &__link {
            font-size: 15px;
        }
    }

    .button {
        &_main {
            width: 250px;
        }
    }

    .advantages {
        padding: 20px 0 20px 0;
        .animate__backInRight {
            animation: none;
        }
    }

    .consultation {
        min-height: 520px;
        &__descr {
            text-align: center;
            font-size: 17px;
        }
    }
    .feed-form {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); 
    }

    .carousel {
        padding: 50px 0;
        &__inner {
            width: 300px;
            img {
                width: 100%;
            }
        }
    }

    .catalog {
        padding-bottom: 30px;
        &__tab {
            width: 110px;
            font-size: 11px;
        }
    }        

    .review {
        &-item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            &__text {
                margin: 10px 0 20px 0;
            }
            &__title {
                text-align: center;
            }
            &__subtitle {
                text-align: center;
            }
            &__descr {
                text-align: center;
            }
        }
        
    }

    .modal {
        &__close {
            right: 5px;
            top: 5px;
        }
    }

    .footer {
        height: 400px;
        iframe {
            height: 400px;
        }
        &__info {
            padding: 20px;
            width: 250px;
            height: 150px;
        }
        &__addr {
            font-size: 12px;
            margin-bottom: 10px;
        }
        &__phone {
            font-size: 15px;
            margin-bottom: 15px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 22px;
            }
        }
    }
}

